.contact-section {
    margin-bottom: 4.8rem;
    border-radius: 5px solid red;
}

.contact-header {
    font-size: 4.2rem;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

form {
    width: min(70rem, 80%);
}

form input {
    padding: 0.8rem;
}

.contact-label {
    display: block;
    margin-bottom: 0.4rem;
}

form input,
form textarea {
    width: 100%;
    margin-bottom: 2.2rem;
    border-radius: 0.4rem;
    border: none;
}

form button {
    font-size: 1.4rem;
    padding: 0.8rem 3.2rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

form button:hover {
    background-color: aquamarine;
    color: black;
    transition: all 0.3s ease-in;
}